#canvas {
  border-radius: 50%;
  box-shadow: 0 0 50px #dbd4cfb3;
  margin-top: 1.5em;
}

#thumb_brushPattern,
#canvas {
  background-color: aliceblue;
}

#thumb_brushPattern {
  border: 1px solid;
}
