@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

@mixin baloo2($weight) {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

@mixin monoton-regular() {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  @include baloo2(100);
  color: #282626;
}

h1 {
  display: block;
  margin: 0;
  @include monoton-regular();
  font-size: 4.5em;
  color: #2dd7c3;
}
