body {
    background-color: beige;
    max-width: 100%;
    overflow: hidden;
}

#canvas {
    margin: 50px;
    background-color: aliceblue;
    border-radius: 50%;
}

header {
    position: relative;
    z-index: 1;
}
main {
    display: flex;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 10px;
    row-gap: 10px;
}

#gallery>img {
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 50%;
}
